# MariaDB

# Development
MARIADB_HOST=
MARIADB_PORT=
MARIADB_DATABASE=
MARIADB_USERNAME=
MARIADB_PASSWORD=

# Production
# MARIADB_HOST=
# MARIADB_PORT=
# MARIADB_DATABASE=
# MARIADB_USERNAME=
# MARIADB_PASSWORD=


# Mapbox
MAPBOX_ACCESS_TOKEN=