Flask==3.1.1
flask-cors==5.0.0
gunicorn==23.0.0
prometheus-client==0.21.1
ibmcloudenv==0.2.1
livereload==2.7.0
flask-wtf==1.2.2
requests==2.32.4
mariadb==1.1.11
mysqlclient==2.2.6
python-dotenv==1.0.1
black==24.10.0