$small: 320px;
$medium: 672px;
$large: 1056px;
$events-map-mobile-threshold: 1100px;

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@use '@carbon/react/scss/config' with (
  $prefix: 'cds'
);
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme' with (
  $theme: themes.$g10
);
@use '@carbon/react';

// Grid and layout
@use '@carbon/grid';
@use '@carbon/layout';
@use '@carbon/type';
$small: 672px;

@import 'content/DashboardPage/dashboard-page.scss';
@import 'content/DetailsPage/details-page.scss';
@import 'content/MapPage/map-page.scss';

/*@import 'content/EventsPage/events-page.scss';*/
/*@import 'content/FirefightersPage/firefighters-page.scss';*/
/*@import 'content/DevicesPage/devices-page.scss';*/
/*@import 'content/LoginPage/login-page.scss';*/
/*@import 'content/ProfilePage/profile-page.scss';*/

@import 'components/SideMenu/SideMenu.scss';
@import 'components/DeviceInformationSidePanel/DeviceInformationSidePanel.scss';
@import 'components/DeviceMap/DeviceMap.scss';
@import 'components/Tile/Tile.scss';
@import 'components/Field/Field.scss';

body {
  background-color: theme.$background;
}

.display-none {
  display: none !important;
}

.space-t-2 {
  margin-top: layout.$spacing-02;
}

.space-b-2 {
  margin-bottom: layout.$spacing-02;
}

.space-b-3 {
  margin-bottom: layout.$spacing-03;
}

.marb-0 {
  margin-bottom: 0 !important;
}

.marb-1 {
  margin-bottom: layout.$spacing-03;
}

.marb-2 {
  margin-bottom: layout.$spacing-05;
}

.marb-3 {
  margin-bottom: layout.$spacing-06;
}

.marb-4 {
  margin-bottom: layout.$spacing-07;
}

.marb-5 {
  margin-bottom: layout.$spacing-08;
}

.mart-1 {
  margin-top: layout.$spacing-03;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.bx--inline-notification--info,
.bx--inline-notification--error,
.bx--inline-notification--warning {
  background: #393939;
  color: #fff;
}

@media (min-width: 82rem) {
  .bx--modal-container--xs {
    width: 30%;
  }
}
