$small: 320px;
$medium: 672px;
$large: 1056px;
$events-map-mobile-threshold: 1100px;

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import '@carbon/themes/scss/themes';

$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles.scss';
@import 'carbon-components/scss/globals/grid/grid';
$small: 672px;

@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

@import 'content/DetailsPage/details-page.scss';
@import 'content/DevicesPage/devices-page.scss';
@import 'content/EventsPage/events-page.scss';
@import 'content/FirefightersPage/firefighters-page.scss';
@import 'content/DashboardPage/dashboard-page.scss';
@import 'content/LoginPage/login-page.scss';
@import 'content/ProfilePage/profile-page.scss';
@import 'content/MapPage/map-page.scss';

@import 'components/SideMenu/SideMenu.scss';
@import 'components/DeviceInformationSidePanel/DeviceInformationSidePanel.scss';
@import 'components/DeviceMap/DeviceMap.scss';
@import 'components/Tile/Tile.scss';
@import 'components/Field/Field.scss';

body {
  background-color: $ui-background;
}

.display-none {
  display: none !important;
}

.space-t-2 {
  margin-top: $spacing-02;
}

.space-b-2 {
  margin-bottom: $spacing-02;
}

.space-b-3 {
  margin-bottom: $spacing-03;
}

.marb-0 {
  margin-bottom: 0 !important;
}

.marb-1 {
  margin-bottom: $layout-01;
}

.marb-2 {
  margin-bottom: $layout-02;
}

.marb-3 {
  margin-bottom: $layout-03;
}

.marb-4 {
  margin-bottom: $layout-04;
}

.marb-5 {
  margin-bottom: $layout-05;
}

.mart-1 {
  margin-top: $layout-01;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.bx--inline-notification--info,
.bx--inline-notification--error,
.bx--inline-notification--warning {
  background: #393939;
  color: #fff;
}

@media (min-width: 82rem) {
  .bx--modal-container--xs {
    width: 30%;
  }
}
