.reports-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  max-width: 1600px;
}

.bx--row {
  margin-top: $layout-03;
}

.fullwidth {
  width: 100%;
}

.reports-label {
  font-size: 120%;
  font-weight: bold;
}

.reports-gray {
  background-color: #ddd;
}