$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import "@carbon/themes/scss/themes";

@include carbon--theme($carbon--theme--g10);

@import "carbon-components/scss/globals/scss/styles.scss";
@import "carbon-components/scss/globals/grid/grid";
$small: 672px;

@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";

@import "./content/DetailsPage/details-page.scss";
@import "./content/DevicesPage/devices-page.scss";
@import "./content/EventsPage/events-page.scss";
@import "./content/FirefightersPage/firefighters-page.scss";
@import "./content/ProfilePage/profile-page.scss";
@import "./content/DashboardPage/dashboard-page.scss";

@import "./components/SideMenu/SideMenu.scss";
@import "./components/Tile/Tile.scss";
