$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import "@carbon/themes/scss/themes";

$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

@import "carbon-components/scss/globals/scss/styles.scss";
@import "carbon-components/scss/globals/grid/grid";
$small: 672px;

@import "carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "carbon-components/scss/globals/scss/vars.scss";

@import "./content/DetailsPage/details-page.scss";
@import "./content/DevicesPage/devices-page.scss";
@import "./content/EventsPage/events-page.scss";
@import "./content/FirefightersPage/firefighters-page.scss";
@import "./content/DashboardPage/dashboard-page.scss";
@import "./content/LoginPage/login-page.scss";

@import "./components/SideMenu/SideMenu.scss";
@import "./components/Tile/Tile.scss";

body {
  background-color: #161616;
}

.marb-2 {
  margin-bottom: $layout-02;
}

.marb-3 {
  margin-bottom: $layout-03;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}
