.dashboard-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  max-width: 1600px;
}
  
.bx--row {
  margin-top: $layout-03;
}

.fullwidth {
  width: 100%;
}

.dashboard-head {
  font-size: '200%';
  font-weight: 'bold';
  margin-bottom: '15px';
}

.dashboard-header {
  font-size: '150%';
  font-weight: 'bold';
  margin-bottom: '15px';
}

.dashboard-tile {
  background-color: '#ddd';
}

.dashboard-label {
  font-size: 120%;
  font-weight: bold;
}

.dashboard-gray {
  background-color: #ddd;
}

.label-firefighter {
  text-align: left !important;
  font: bold 16px sans-serif;
  padding: 15px 15px 15px 15px;
}

.label-num {
  font: bold 14px sans-serif;
  text-anchor: middle;
}

.label-unit {
  font: 10px sans-serif;
  text-anchor: middle;
}

.label-legend {
  font: normal 10px sans-serif;
  margin-top: 10px;
}

.bx--grid {
  background-color: #fff;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
}

.bx--col {
  text-align: center !important;
}
