@import "./mixins.scss";
@import "./overrides.scss";

.dashboard-page__illo {
  max-width: 100%;
}

.dashboard-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 4;
  @include dashboard-page-background;
}

.dashboard-page__heading {
  @include carbon--type-style("productive-heading-05");
  padding: $spacing-05;
  padding-top: $spacing-09;
  margin-top: $spacing-05;
}

.dashboard-page__subheading {
  @include carbon--type-style("productive-heading-03");
  @include carbon--font-weight("semibold");
  padding: $spacing-05;
}

.dashboard-page__p {
  @include carbon--type-style("productive-heading-03");
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;
  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.dashboard-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.dashboard-page__r2 {
  margin-top: rem(-40px);
}

.dashboard-page__r3 {
  padding-top: $spacing-09;
  padding-bottom: $spacing-09;
  @include dashboard-page-background;
}

.dashboard-page__label {
  @include carbon--type-style("heading-01");
}

.dashboard-page__tab-content {
  padding-top: $layout-05;
  padding-bottom: $layout-05;
}

.dashboard-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  max-width: 1600px;
}

.bx--row {
  /* margin-top: $layout-03; */
  margin-top: 0;
}

.fullwidth {
  width: 100%;
}

.dashboard-head {
  font-size: 200%;
  font-weight: bold;
  margin-top: $layout-03;
  margin-bottom: $layout-03;
}

.dashboard-header {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 15px;
}

.dashboard-tile {
  background-color: #f4f4f4;
  margin-top: 0;
  padding-bottom: 15px;
}

.dashboard-label {
  font-size: 120%;
  font-weight: bold;
}
.margin-right-firefighter {
  border: 5px solid #fff;
}

.dashboard-gray {
  background-color: #ddd;
}

.label-firefighter {
  text-align: left !important;
  font: bold 16px sans-serif;
  padding: 15px 15px 15px 15px;
}

.label-firefighter.a {
  text-align: left !important;
  font: bold 16px sans-serif;
  padding-left: 0;
}

.label-num {
  font: bold 14px sans-serif;
  text-anchor: middle;
}

.label-unit {
  font: 10px sans-serif;
  text-anchor: middle;
}

.label-legend {
  font: normal 10px sans-serif;
  margin-top: 10px;
}

.bx--grid {
  background-color: #fff;
  padding: 15px 15px 15px 15px;
}

.bx--col {
  text-align: center !important;
}
