@import './mixins.scss';
@import './overrides.scss';

.map-page__illo {
  max-width: 100%;
}

.map-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 4;
  @include map-page-background;
}

.map-page__heading {
  @include carbon--type-style('productive-heading-05');
  padding: $spacing-05;
  padding-top: $spacing-09;
  margin-top: $spacing-05;
}

.map-page__subheading {
  @include carbon--type-style('body-short-02');
  /*@include carbon--font-weight('semibold');*/
  padding: $spacing-05;
  padding-top: $spacing-03;
}

.map-page__p {
  @include carbon--type-style('body-long-01');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;
  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.map-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  max-width: 1600px;
}

.device-map__container {
  background: #fff;
  margin-top: $layout-02;
  margin-bottom: $layout-03;
  padding: $spacing-05;
  height: 500px;
  display: grid;
  grid-template-rows: auto 1fr;

  .map-wrapper {
    height: 100%;
  }
}

.device-table__container {
  min-height: 400px;
}

.with-circle {
  &[data-after]::after,
  &:not([data-after])::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
  }

  &[data-after]::after {
    margin-left: $spacing-03;
  }

  &:not([data-after])::before {
    margin-right: $spacing-03;
  }
}

.status-green {
  &[data-after]::after,
  &:not([data-after])::before {
    background: #3dc04e;
  }
}

.status-yellow {
  &[data-after]::after,
  &:not([data-after])::before {
    background: #c9bc0d;
  }
}

.sticky-column {
  position: sticky;

  &.left {
    left: 2rem;
  }
  &.right {
    right: 0;
  }
}

.map-page {
  td {
    white-space: nowrap;
  }
  .bx--table-expand {
    position: sticky;
    left: 0;
  }
  .device-expandable-row {
    > td {
      padding: 1rem;
    }
    height: 250px;
  }
  .bx--data-table-content {
    position: relative;
  }
}

@keyframes animation-dance {
  0% {
    content: '♪┏(・o･)┛♪';
    color: red;
  }
  25% {
    content: '(~^.^)~';
    color: cyan;
  }
  50% {
    content: '（〜^∇^)〜';
    color: lime;
  }
  75% {
    content: '~(o.o)~';
    color: orange;
  }
}

.dance::after {
  content: '♪┏(・o･)┛♪';
  color: red;
  animation: animation-dance 4s infinite;
  animation-delay: 0s;
}

.tag-owner {
  background: #e5dfdf;
  color: black;
  width: max-content;
}

.device-map__title {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: $spacing-05;
}

.bx--data-table-container {
  margin-bottom: $layout-03;
}

.device-chart {
  background: #161616;
  //margin: $layout-02 0;
  place-content: center;
  display: inline-flex;
  width: 100%;
  height: 250px;
  align-items: center;
}

.device-map__header {
  display: inline-flex;
  width: 100%;
}

.device-map__controls {
  margin: auto 0 auto auto;
  > span {
    margin-left: $spacing-04;
    cursor: pointer;
  }
}

.bx--modal-container .bx--loading {
  width: 5rem;
  height: 5rem;
}

.bx--data-table tbody tr[data-hovered='true'] td {
  background: #353535;
}
