# Auth details are in "/api-auth/vcap-local.json"

# Database details are in "/api-main/.env"

# Websocket details for "/src/hooks/useDashboard" and "/src/hooks/useDetails"
# Set in "src/util/Constants" for the time being
# WEBSOCKET_URL="ws://localhost:8010"

# Dashboard details
SASS_PATH="node_modules"
REACT_APP_WEBSOCKET_URL="wss://localhost:8010"
REACT_APP_MAIN_PROXY="http://localhost:5001"
REACT_APP_AUTH_PROXY="http://localhost:4000"
REACT_APP_MAPBOX_ACCESS_TOKEN=""
